h6{
  text-align: center;
  padding-top: 25px;
  font-weight: bold;
}

/******************
general section
******************/
body{
	font-family: Josefin Sans, sans-serif;
	font-size: 18px;
  min-height: 100vh; /* helps with the sticky footer */
  background-color: #F5F5F5;
}

h3,h5{
  font-family: Josefin Sans, sans-serif;
}

p, input, textarea{
font-family: Josefin Sans, serif;
}

/*****************
general section ending
*****************/


/*****************
header section
*****************/
.main-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 25px;
}

.profile a{
	display: none;
	color: black;
	font-weight: bold;
	padding-left: 7px;
	font-size: 14px;
}

/*************
nav bar inside the header
*************/
.menu-toggle{
	font-size: 30px;
	color: #0b5345; /*** this controls the color of the burger     color      ***/
}

.menu{
  position: relative;
	width: 300px;
	display: block;
	background: black;/* controls the color of the nav bar*/
	height: 100%;
	top: 0;
	left:-300px; /*was originally t right when the nav bar was on the right side*/
	position: fixed;
	z-index: 100;
	text-align: center;
	transition: left 0.4s; /** default on the right **/
  overflow-y: auto; /* makes the expanding nav scrollable */
}

.menu.nav-expanded{
	left: 0; /* was at right before, for nav bar to expand from left */
}

.menu .close{
	color: #fff;
	font-size: 30px;
	margin-right: 10px;
	margin-top:10px;
}

.menu h3{
	margin-left: 10px;
	margin-top:10px;
	margin-bottom: 30px;
	font-size: 30px;
	font-family: karla;
	color: #fff;
}

h1{
	font-family: cabin;
}

a{
	color: #fff;
}


/*the below affects the spave curb in the expanding nav, and we made it to not show any underline when hovered on*/
a:hover,
a:focus{
	text-decoration: none;
	color: #fff;
}


.menu .nav{
	padding: 0;
}

.menu .nav > li > a{
	color: #fff;

}

.menu .nav > li > a:hover,
.menu .nav > li > a:focus{
	background: transparent;
	color: #fff; /* default 2E5483 */
}


.profile-photo{
  max-width: 35px;
	height: 35px;
  border-radius: 100%;
} /* border-radius makes the image a circle instead of a square,
    margin is responsible for positioning of the picture */



.image-container{
background-image: url('.../images/wizard-city.jpg');
  opacity: 1;
}

/**************************
***************************
***************************
photo upload
***************************
***************************
**************************/


.content {
	width: 100%;
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
	padding: 15px 15px 15px 15px;
}

.box {
	background-color: #45B39D;
	padding: 70px 70px;
}

.box + .box {
	margin-top: 2.5rem;
}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 10px 20px;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}


.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: 4px;
    /* 4px */
    margin-right: 4px;
    /* 4px */
}

.inputfile-2 + label {
    color: #0B5345;
    border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #0B5345;
}

/**************************
***************************
***************************
photo upload ending
***************************
***************************
**************************/


/*footer*/

  .main-footer{
    padding-bottom: 10px;
  }

  .foot{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    padding-bottom: 6px;
  }

	.foot2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: center;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    padding: 0 30px 0;
  }

	footer{
		width: cover;
	}

  footer > div > span > a {
  	color: black;
		padding-left: 25px;
  }

	footer > div > span > a:hover {
  	color: black;
  }
/* footer ending */

/**************
media querry
**************/
@media screen and (min-width: 768px){

	.body h1,
	.body .h1 {
		font-size: 60px;
	}

	h4{
		color: black;
		font-size: 17px;
	}

	p{
		color: #fff;
		font-size: 18px;
	}

	.foot{
    font-size: 17px;
  }

  .foot2{
    list-style: none;
    font-size: 17px;
    padding: 0 100px 0;
  }

	.text {
	  color: #333;
	  font-size: 18px;
	}

	.profile a{
		display: inline;
		color: black;
		font-weight: bold;
		padding-left: 7px;
		font-size: 14px;
	}
}
