*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Josefin Sans, sans-serif;
  color: #384047;
  min-height: 100vh; /* helps with the sticky footer */
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}

.body2 {
  flex: 1; /* also helps with the sticky footer */
}

form {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 15px 0;
  text-align: center; /* aligns the header to the middle */
}


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  min-width: 200px;
  background-color: #e8eeef;
  color: #000;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 24px;
}

label

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

.more{
  margin-top: 20px;
}

.right{
  text-align: right;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #0b5345;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #454545;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-top: 30px;
  margin-bottom: 10px;
}

button:hover,
button:focus {
  color: #FFF;
  background-color: #117864;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #117864;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #0b5345;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 10%;
}

.corp{
  text-align: center;
  padding-bottom: 10px;
}

.or{
  text-align: center;
  padding-bottom: 10px;
  color: black;
}

.terms{
  text-align: center;
  padding-bottom: 5px;
  color: black;
}

/*copy*/

header{
  padding-bottom: 0;
}

/****************
SECTION
*****************/
a{
	color: #fa694e;
}

.terms a{
  color: #7F8C8D;
}

p, input, textarea{
	font-family: Josefin Sans, serif;
}


/*the below affects the spave curb in the expanding nav, and we made it to not show any underline when hovered on*/
a:hover,
a:focus{
	text-decoration: none;
}

.smedia{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/*****************
header section
*****************/
.main-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.sc, .main-header{
  flex-grow: 1;
}

/*************
this controls the nav bar
*************/
.menu-toggle{
	font-size: 30px;
	color: #56863C; /*** this controls the color of the burger     color      ***/
}

.menu{
  position: relative;
	width: 300px;
	display: block;
	background: black;/* controls the color of the nav bar*/
	height: 100%;
	top: 0;
	left:-300px; /*was originally t right when the nav bar was on the right side*/
	position: fixed;
	z-index: 100;
	text-align: center;
	transition: left 0.4s; /** default on the right **/
  overflow-y: auto; /* makes the expanding nav scrollable */
}

.menu.nav-expanded{
	left: 0; /* was at right before, for nav bar to expand from left */
}

.menu .close{
	color: #fff;
  font-size: 30px;
	margin-right: 10px;
	margin-top:10px;
}

.menu h3{
	margin-left: 10px;
	margin-top:10px;
	margin-bottom: 30px;
	font-size: 30px;
	font-family: karla;
	color: #fff;
}

h1{
	font-family: cabin;
}

h3 > a{
	color: #fff;
}


.menu .nav{
	padding: 0;
}

.menu .nav > li > a{
	color: #fff;

}

.menu .nav > li > a:hover,
.menu .nav > li > a:focus{
	background: transparent;
	color: #fff; /* default 2E5483 */
}

/* log in and sign up button */
.log {
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	/* -webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s; */
	width: 100px;
}


.button{
	background: #000;
	border-width: 5px;
	color: #fff;
	border-color: #fff;
}

.one{
	padding: 14px 91px;
}

.two{
	padding: 14px 95px;
}

.three{
	padding: 14px 91px;
}

.button:hover{
	background: #fff;
	color: #000;
	border-color: #fff;
}

.menu h5 {
	padding-top: 10px;
	padding-bottom: 4px;
}

/* controls the add property button*/
.btn{
	border-radius: 0;
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}

.btn-primary{
	padding: 8px 22px;
	background: #0b5345;
	border-width: 2px;
	color: #fff;
	border-color: #0b5345;
}

.btn-primary:hover,
.btn-primary:focus{
	background: #117864;
	color: #fff;
	border-color: #117864;
}

.btn-2{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 24px;
  border-width: 2px;
  color: #fff;
  background: #2ECC71;
  border-color: #2ECC71;
}

.btn-2:hover,
.btn-2:focus{
	background: #27AE60;
	color: #fff;
	border-color: #27AE60;
}

.btn-3{
  display: block;
  margin-bottom: 20px;
  padding: 10px 10px;
  border-width: 2px;
  color: #fff;
  background: #3498DB;
  border-color: #3498DB;
}

.btn-3:hover,
.btn-3:focus{
	background: #2E86C1;
	color: #fff;
	border-color: #2E86C1;
}
/*****************
affects the space curb
*****************/

/*the below affects the spave curb in the expanding nav, and we made it to not show any underline when hovered on*/
a:hover,
a:focus{
	text-decoration: none;
}

h3 > a:hover,
h3 > a:focus{
	text-decoration: none;
	color: #fff;
}

/*****************
ending of nav bar in header
*****************/

/*****************
section
*****************/

/* beginning of the space curb header */
.fa-map-marker {
	color: #0b5345; /*     color      */
}

.fa-bars {
	color: #0b5345; /*       color       */
}

.fa-close{
  color: #fff;
  font-size: 30px;
}

.space {
	color: #0b5345;  /*       color       */
}

.words {
	color: #333
}
/*ending of the space curb*/

/***************************************
search bar
***************************************/
input{
    border: none;
    padding: 10px;
    margin: 10px;
    height: 45px;
    width: 55%;
		min-width: 300px;
    border:1px solid #eaeaea;
    outline:none;
		color: black;
		box-shadow: 0 2px 2px rgba(0,0,0,0.1);
		background: #f8f8f8;
		border: 2px solid #c6c6c6;
		box-shadow: 0 2px 2px rgba(0,0,0,0.1);
		color: #222;
}
input:hover{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}
input:focus{
    border-color:#4d90fe;
}

/* input[type="submit"] {
    border-radius: 2px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    padding: 0 16px;
    height:40px;
}
input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
} */
/*the above commented code is for when there is a search button*/

/******************************
ending of search bar
******************************/

.body{
	text-align: center;
/*	background: url('../img/bg.jpg');*/ /* controls the image on home page */
	background-size: cover;
	color: #fff;
	min-height: 400px;/* for the footer to not disturb the page */
/*  max-height: 800px; */
  padding: 0 10px;
}

p{
	color: #fff;
	font-size: 15px;
}

.body .container{
	margin-top: 8%;
}

/*footer*/

  .main-footer{
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 10px;
  }

  .foot{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    padding-bottom: 6px;
  }

  .foot2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    align-content: center;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    padding: 0 30px 0;
  }

  footer > div > span > a {
  	color: black;
    padding-left: 25px;
  }

	footer > div > span > a:hover {
  	color: black;
  }
/* footer ending */

/***********************
facebook button
***********************/
.fb{
  text-align: center;
	padding: 20px 25px;
  margin-bottom: 10px;
	border-radius: 0;
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}

.sign{
	background: #3b5998;
	border-width: 2px;
	color: #fff;
	border-color: #3b5998;
}

.sign:hover,
.sign:focus{
	background: #8b9dc3;
	color: #fff;
	border-color: #8b9dc3;
}


/*************************
google+ button
*************************/

.google{
  text-align: center;
	padding: 20px 25px;
  margin-bottom: 10px;
	border-radius: 0;
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}

.plus{
	background: #d34836;
	border-width: 2px;
	color: #fff;
	border-color: #d34836;
}

.plus:hover,
.plus:focus{
	background: #d87c75;
	color: #fff;
	border-color: #d87c75;
}

/*************************
company reg
*************************/
.company{
  text-align: center;
	padding: 20px 25px;
	border-radius: 0;
	-webkit-transition: border-color 0.4s, color 0.4s;
	transition: border-color 0.4s, color 0.4s;
}

.reg{
background: #232222;
border-width: 2px;
color: #fff;
border-color: #232222;
}

.reg:hover,
.reg:focus{
	background: #6F6F6F;
	color: #fff;
	border-color: #6F6F6F;
}

/*************************
button ending
*************************/

.light{
  padding-right: 40px;
}



/****************************************
*****************************************
*****************************************
image upload
*****************************************
*****************************************
****************************************/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 10px 20px;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}


.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: 4px;
    /* 4px */
    margin-right: 4px;
    /* 4px */
}



/* style 6 */

.inputfile-6 + label {
    color: #000;
}

.inputfile-6 + label {
    border: 1px solid #56863C;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #40811D;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 10px 20px;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 300px;
    min-height: 2em;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #fff;
    background-color: #56863C;
    display: block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #40811D;
}


/******************************
*******************************
*******************************
pop up
*******************************
*******************************
******************************/

.msa-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.51);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.msa-overlay:target {
  visibility: visible;
  opacity: 1;
}

.msa-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  max-width: 650px;
  position: relative;
  transition: all 5s ease-in-out;
}


.msa-popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Josefin Sans, sans-serif;
}

.msa-popup .msa-close {
  position: absolute;
  top: 3px;
  right: 30px;
  transition: all 200ms;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  font-size: 40px;
}

.msa-popup .msa-close:hover {
  color: #3462FA;
}

.msa-popup .msa-content {
  max-height: 30%;
  overflow: auto;
  font-size:.9em;
  text-align: center;
}

/******************************
ooooorrrrrrrrrrrrrrrr
******************************/
.overlay {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  pointer-events: none;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
}

.overlay.open {
  opacity: 1;
  pointer-events: inherit;
}

.overlay .modal {
  background: white;
  text-align: center;
  padding: 20px 20px;
  box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
  opacity: 0;
  pointer-events: none;
  transition: 0.35s ease-in-out;
  max-height: 100vh;
  overflow-y: auto;
}

.overlay .modal.open {
  opacity: 1;
  pointer-events: inherit;
  display: block;
  width: 80%;
  height: 70%;
  margin: auto;
}

.overlay .modal.open .content {
  transform: translate(0, 0px);
  opacity: 1;
}

.overlay .modal .content {
  transform: translate(0, -10px);
  opacity: 0;
  transition: 0.35s ease-in-out;
}

.overlay .modal .title {
  margin-top: 0;
  font-size: 18px;
}

/*******************************
more on madal
*******************************/

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500);
@-webkit-keyframes roll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-150%, -50%) rotate(-90deg) scale(0.3);
            transform: translate(-150%, -50%) rotate(-90deg) scale(0.3);
    box-shadow: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
            transform: translate(-50%, -50%) rotate(0deg) scale(1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }
}
@keyframes roll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-150%, -50%) rotate(-90deg) scale(0.3);
            transform: translate(-150%, -50%) rotate(-90deg) scale(0.3);
    box-shadow: none;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
            transform: translate(-50%, -50%) rotate(0deg) scale(1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  }
}



.content:active #img-result {
  margin-top: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.content #img-result {
  cursor: pointer;
  margin: 0;
  position: relative;
  background: #1abc9c;
  background-size: cover;
  background-position: center;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0);
  -webkit-transition: box-shadow 0.3s, margin 0.3s, background-image 1.5s;
  transition: box-shadow 0.3s, margin 0.3s, background-image 1.5s;
}

.content #img-result.no-image:before {
  font-family: 'FontAwesome';
  content: "\f030";
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  font-size: 48px;
  opacity: .8;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-shadow: 0 0px 5px rgba(0, 0, 0, 0.4);
}

.content button {
  margin-top: 20px;
  display: block;
  background: #1abc9c;
  width: 100%;
  border: none;
  color: #fff;
  padding: 10px;
  letter-spacing: 1.3px;
  font-size: 1.05em;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  outline: 0;
  -webkit-transition: box-shadow 0.3s, margin-top 0.3s, padding 0.3s;
  transition: box-shadow 0.3s, margin-top 0.3s, padding 0.3s;
}

.content button:active {
  box-shadow: none;
  margin-top: 24px;
  padding: 8px;
}

.wrapper button {
  margin-top: 20px;
  display: block;
  font-family: 'Open Sans Condensed', sans-serif;
  background: #1abc9c;
  width: 100%;
  border: none;
  color: #fff;
  padding: 10px;
  letter-spacing: 1.3px;
  font-size: 1.05em;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  outline: 0;
  -webkit-transition: box-shadow 0.3s, margin-top 0.3s, padding 0.3s;
  transition: box-shadow 0.3s, margin-top 0.3s, padding 0.3s;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 120px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 5px;
  background: #16a085;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.submit{
	padding: 8px 22px;
	background: #0b5345;
	border-width: 2px;
	color: #fff;
	border-color: #0b5345;
}

.submit:hover,
.submit:focus{
	background: #117864;
	color: #fff;
	border-color: #117864;
}

.submit{
  margin-top: 200px;
}
/******************************
*******************************
*******************************
pop up image upload
*******************************
*******************************
******************************/

.show-button {
  display: none;
	padding: 8px 15px;
	background: #fff;
	border-width: 2px;
	color: #000;
	border-color: #fff;
}

.show-button:hover,
.show-button:focus{
	background: #fff;
	color: #000;
	border-color: #fff;
}

.finish{
  padding-top: 300px;
  padding-bottom: 20px;
}

.upload-result {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow-y: auto;
}

.upload-result__content {
  word-break: break-all;
  font-family: 'Source Code Pro';
  overflow-wrap: break-word;
}

div > p > a{
  color: #fff;
}

div > p > a:hover{
  color: #F2F3F4;
}

div > a {
  color: #000;
}

div {
  text-align: center;
}

div > a:hover {
  color: #000;
}
/******************************
pop up image upload ending
******************************/


@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}
}

/***********************************
************************************
************************************
ending of image upload
************************************
************************************
***********************************/




@media screen and (min-width: 480px) {

  form {
    max-width: 600px;
  }

  .overlay .modal.open {
    opacity: 1;
    width: 50%;
    max-width: 400px;
    height: 50%;
  }

}

@media screen and (min-width: 768px){

	.foot{
    font-size: 17px;
  }

  .foot2{
    list-style: none;
    font-size: 17px;
    padding: 0 100px 0;
  }

}
